img {
  width: 50%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.body-text {
  margin-bottom: 2em;
}

#error-area {
  font-size: 14px;
  color: red;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.link.twofive {
	opacity: 0.25;
}

path.link.fivezero {
	opacity: 0.50;
}

path.link.sevenfive {
	opacity: 0.75;
}

path.link.onezerozero {
	opacity: 1.0;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 11px sans-serif;
  pointer-events: none;
}